.full-width-table {
  width: 100%;
}

th.mat-header-cell {
  font-size: 1.1em !important;
  color: #9b9a9a;
}

tr.mat-header-row {
  background: #f2f2f2;
}

.delete-btn, .edit-btn {
  padding: 12px 2px 0px 2px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #9e3535;
}

.edit-btn:hover {
  color: #3F51B5;
}

.delete-btn {
  margin-left: 8px;
}

.edit-btn {
  color: #000;
  margin-left: 15px;
}

.completed-ckb {
  margin-left: 25px;
}

::ng-deep .mat-checkbox-inner-container {
  width: 20px !important;
  height: 20px !important;
}

.filter-wrap, .completed-select {
  position: fixed;
  top: 15px;
  right: 130px;
  z-index: 102;
}

.completed-select{
  right: 330px;
}

/* Filter styles -------------*/

/* I'm not very happy how it looks. I'll work on this later */

::ng-deep .filter-wrap.mat-focused *{
  /*change color of label*/
  color: #ccc !important;
 }

 ::ng-deep .filter-wrap .mat-form-field-underline {
  /*change color of underline*/
  background-color: #999 !important;
} 

::ng-deep .filter-wrap .mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #fff !important;;
}


 ::ng-deep .filter-wrap.mat-form-field-appearance-legacy .mat-form-field-label {
   color: #999 !important;
 }

 .filter-wrap ::placeholder {
  color:#A2A2A2;
}

/* End of Filter styles -------------*/

::ng-deep .mat-checkbox-inner-container {
  margin-top: 10px !important;
}

.mat-elevation-z8 {
  position: relative;
  overflow: auto;
  max-height: 500px;
  max-height: calc(100% - 70px);
  box-shadow: 0 0 5px #5b5b5b;
}

.multiple-delete-btn {
  cursor: pointer;
  line-height: 16px;
  padding-right: 2px;
  margin: 4px;
}

.multiple-delete-btn:hover {
  color: #9e3535;
}

.multiple-delete-btn .mat-icon {
  font-size: 26px;
}

.mat-row:hover {
  background-color: #F7F7F7;
}

/* Completed dropdown styles */

::ng-deep .completed-select .mat-select-arrow, 
::ng-deep .completed-select.mat-form-field-type-mat-select .mat-form-field-label {
  color: #999;
}

::ng-deep .completed-select .mat-form-field-underline {
  /*change color of underline*/
  background-color: #999 !important;
}

::ng-deep .completed-select .mat-select-value-text {
  color: #fff !important;

} 
::ng-deep .completed-select.mat-focused *, .completed-select .mat-focused.mat-form-field-underline * {
  color: #fff !important;
}

::ng-deep .completed-select .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #999 !important;
 }

 /* End of Completed dropdown styles */

 .table-footer-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 2;
  background: #F2F2F2;
  /* box-shadow: 0 0 2px #9f9f9f; */
}

.mat-paginator {
  background: #F2F2F2;
  text-shadow: 1px 1px #fff;
}

/* Pagination on the right side of table footer */
.shift-content-right {
  flex: 1 1 auto;
}

/* Fixed table columns width */

.mat-column-multiple-select, .mat-column-id, .mat-column-title, .mat-column-description, .mat-column-completed, .mat-column-created, .mat-column-view, .mat-column-delete {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-multiple_select {
  width: 5% !important;
}

.mat-column-id {
  width: 5% !important;
}

.mat-column-title {
  width: 20% !important;
}

.mat-column-description {
  width: 20% !important;
}

.mat-column-completed {
  width: 10% !important;
}

.mat-column-created {
  width: 10% !important;
}

.mat-column-view {
  width: 10% !important;
}

.mat-column-delete {
  width: 10% !important;
}

/* End of fixed table columns width */



