.full-width-table {
  width: 100%;
}

.add-new-btn {
  position: absolute;
  right: 20px;
  top: 18px;
  background: #fff;
}

th.mat-header-cell {
  font-size: 1.1em !important;
  color: #9b9a9a;
  text-shadow: 1px 1px #fff;
}

tr.mat-header-row {
  background: #f2f2f2;
}

/* .mat-sort-header-button {
  text-shadow: 1px 1px #fff !important;
} */