.full-width-table {
  width: 100%;
}

.add-new-btn {
  position: absolute;
  right: 20px;
  top: 18px;
  background: #fff;
}

th.mat-header-cell {
  font-size: 1.1em !important;
  color: #9b9a9a;
}

tr.mat-header-row {
  background: #f2f2f2;
  /* border-bottom: solid 2px #dadada; */
}

/* .mat-sort-header-button {
  text-shadow: 1px 1px #fff !important;
} */

/* .mat-row:nth-child(even){
  background-color:#f6f6f6;
  }

.mat-row:nth-child(odd){
  background-color:#FDFDFB;
} 
*/

.delete-btn {
  padding: 12px 2px 0px 2px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #c35151;
}


