header {
    position: sticky;
    top:0;
    z-index: 101;
    box-shadow: 0 0 3px 0px #151515;
    border-bottom: solid 1px #272727;
}

header h2 {
    margin: 0;
    height: 70px;
    background: #39398c;
    color: #fff;
    font-size: 2em;
    padding: 20px;
}

::ng-deep .mat-snack-bar-container {
    background: #3F51B5 !important;
    color: #fff;
}