

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-dialog-actions {
    padding: 20px 0 !important;
}

.add-new-btn, .back-btn {
    position: absolute !important;
    right: 20px;
    top: 18px;
    background: #fff;
}
